Source/Applications/openPDCManager/Silverlight/Service References/LivePhasorDataServiceProxy/openPDCManager.Web.Data.BusinessObjects1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInterconnectionStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InterconnectionStatus" nillable="true" type="tns:InterconnectionStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterconnectionStatus" nillable="true" type="tns:ArrayOfInterconnectionStatus" />
  <xs:complexType name="InterconnectionStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyStatus" nillable="true" type="tns:ArrayOfMemberStatus" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterConnection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPmus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterconnectionStatus" nillable="true" type="tns:InterconnectionStatus" />
  <xs:complexType name="ArrayOfMemberStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberStatus" nillable="true" type="tns:MemberStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberStatus" nillable="true" type="tns:ArrayOfMemberStatus" />
  <xs:complexType name="MemberStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="MeasuredLines" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportingDevices" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalDevices" type="xs:int" />
      <xs:element minOccurs="0" name="ValidatedDevices" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberStatus" nillable="true" type="tns:MemberStatus" />
  <xs:complexType name="ArrayOfPmuDistribution">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PmuDistribution" nillable="true" type="tns:PmuDistribution" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPmuDistribution" nillable="true" type="tns:ArrayOfPmuDistribution" />
  <xs:complexType name="PmuDistribution">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlaskanCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EasternCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HawaiiCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuebecCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TexasCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
      <xs:element minOccurs="0" name="WesternCount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PmuDistribution" nillable="true" type="tns:PmuDistribution" />
</xs:schema>