Source/Applications/openPDCManager/Silverlight/Service References/LivePhasorDataServiceProxy/openPDCManager.Services.DuplexService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/openPDCManager.Services.DuplexService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/openPDCManager.Services.DuplexService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" />
  <xs:import namespace="http://samples.microsoft.com/silverlight2/duplex" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TimeSeriesDataMessage">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://samples.microsoft.com/silverlight2/duplex" base="q1:DuplexMessage">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" minOccurs="0" name="TimeSeriesData" nillable="true" type="q2:ArrayOfTimeSeriesDataPoint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeSeriesDataMessage" nillable="true" type="tns:TimeSeriesDataMessage" />
  <xs:complexType name="LivePhasorDataMessage">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://samples.microsoft.com/silverlight2/duplex" base="q3:DuplexMessage">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeviceDistributionList" nillable="true" type="q4:ArrayOfKeyValueOfstringint" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" minOccurs="0" name="InterconnectionStatusList" nillable="true" type="q5:ArrayOfInterconnectionStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LivePhasorDataMessage" nillable="true" type="tns:LivePhasorDataMessage" />
</xs:schema>