Source/Applications/openPDCManager/Silverlight/Service References/PhasorDataServiceProxy/PhasorDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBasicPmuInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicPmuInfo" nillable="true" type="tns:BasicPmuInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicPmuInfo" nillable="true" type="tns:ArrayOfBasicPmuInfo" />
  <xs:complexType name="BasicPmuInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acronym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CompanyAcronym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InProgress" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reporting" type="xs:boolean" />
      <xs:element minOccurs="0" name="Validated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicPmuInfo" nillable="true" type="tns:BasicPmuInfo" />
  <xs:complexType name="ArrayOfStatusReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusReport" nillable="true" type="tns:StatusReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusReport" nillable="true" type="tns:ArrayOfStatusReport" />
  <xs:complexType name="StatusReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acronym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PmusStatus" nillable="true" type="tns:ArrayOfPmuStatus" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusReport" nillable="true" type="tns:StatusReport" />
  <xs:complexType name="ArrayOfPmuStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PmuStatus" nillable="true" type="tns:PmuStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPmuStatus" nillable="true" type="tns:ArrayOfPmuStatus" />
  <xs:complexType name="PmuStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acronym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProtocolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reporting" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Validated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PmuStatus" nillable="true" type="tns:PmuStatus" />
</xs:schema>