Source/Applications/openPDCManager/Silverlight/Service References/PhasorDataServiceProxy/PhasorDataService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="PhasorDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.Entities" />
      <xsd:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhasorDataService_GetNodeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeList" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetNodeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeListResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNodes" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNodesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveNode_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveNode" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetCompanyList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyList" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetCompanyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyListResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanies" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCompany" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetHistorianList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistorianList" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetHistorianList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistorianListResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveHistorian_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveHistorian" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveHistorian_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveHistorianResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetHistorians_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistorians" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetHistorians_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoriansResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetVendorList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorList" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetVendorList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorListResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetVendors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendors" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetVendors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveVendor" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetVendorDeviceList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorDeviceList" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetVendorDeviceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorDeviceListResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveVendorDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveVendorDevice" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveVendorDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveVendorDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetVendorDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorDevices" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetVendorDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetDeviceList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceList" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetDeviceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceListResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDevices" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDevice" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetDeviceByDeviceID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceByDeviceID" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetDeviceByDeviceID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceByDeviceIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetOtherDeviceList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOtherDeviceList" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetOtherDeviceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOtherDeviceListResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveOtherDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOtherDevice" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveOtherDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOtherDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetOtherDeviceByDeviceID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOtherDeviceByDeviceID" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetOtherDeviceByDeviceID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOtherDeviceByDeviceIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetInterconnections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInterconnections" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetInterconnections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInterconnectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetProtocols_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProtocols" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetProtocols_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProtocolsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetCalculatedMeasurementList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculatedMeasurementList" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetCalculatedMeasurementList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculatedMeasurementListResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveCalculatedMeasurement_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCalculatedMeasurement" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveCalculatedMeasurement_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCalculatedMeasurementResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetAdapterList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdapterList" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetAdapterList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdapterListResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveAdapter_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAdapter" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_SaveAdapter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAdapterResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetIaonTreeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIaonTreeData" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetIaonTreeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIaonTreeDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetTimeZones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeZones" />
  </wsdl:message>
  <wsdl:message name="IPhasorDataService_GetTimeZones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeZonesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhasorDataService">
    <wsdl:operation name="GetNodeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetNodeList" message="tns:IPhasorDataService_GetNodeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetNodeListResponse" message="tns:IPhasorDataService_GetNodeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetNodes" message="tns:IPhasorDataService_GetNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetNodesResponse" message="tns:IPhasorDataService_GetNodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/SaveNode" message="tns:IPhasorDataService_SaveNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/SaveNodeResponse" message="tns:IPhasorDataService_SaveNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetCompanyList" message="tns:IPhasorDataService_GetCompanyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetCompanyListResponse" message="tns:IPhasorDataService_GetCompanyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetCompanies" message="tns:IPhasorDataService_GetCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetCompaniesResponse" message="tns:IPhasorDataService_GetCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/SaveCompany" message="tns:IPhasorDataService_SaveCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/SaveCompanyResponse" message="tns:IPhasorDataService_SaveCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistorianList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetHistorianList" message="tns:IPhasorDataService_GetHistorianList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetHistorianListResponse" message="tns:IPhasorDataService_GetHistorianList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveHistorian">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/SaveHistorian" message="tns:IPhasorDataService_SaveHistorian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/SaveHistorianResponse" message="tns:IPhasorDataService_SaveHistorian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistorians">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetHistorians" message="tns:IPhasorDataService_GetHistorians_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetHistoriansResponse" message="tns:IPhasorDataService_GetHistorians_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetVendorList" message="tns:IPhasorDataService_GetVendorList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetVendorListResponse" message="tns:IPhasorDataService_GetVendorList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendors">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetVendors" message="tns:IPhasorDataService_GetVendors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetVendorsResponse" message="tns:IPhasorDataService_GetVendors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/SaveVendor" message="tns:IPhasorDataService_SaveVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/SaveVendorResponse" message="tns:IPhasorDataService_SaveVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorDeviceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetVendorDeviceList" message="tns:IPhasorDataService_GetVendorDeviceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetVendorDeviceListResponse" message="tns:IPhasorDataService_GetVendorDeviceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveVendorDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/SaveVendorDevice" message="tns:IPhasorDataService_SaveVendorDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/SaveVendorDeviceResponse" message="tns:IPhasorDataService_SaveVendorDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorDevices">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetVendorDevices" message="tns:IPhasorDataService_GetVendorDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetVendorDevicesResponse" message="tns:IPhasorDataService_GetVendorDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetDeviceList" message="tns:IPhasorDataService_GetDeviceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetDeviceListResponse" message="tns:IPhasorDataService_GetDeviceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDevices">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetDevices" message="tns:IPhasorDataService_GetDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetDevicesResponse" message="tns:IPhasorDataService_GetDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/SaveDevice" message="tns:IPhasorDataService_SaveDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/SaveDeviceResponse" message="tns:IPhasorDataService_SaveDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceByDeviceID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetDeviceByDeviceID" message="tns:IPhasorDataService_GetDeviceByDeviceID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetDeviceByDeviceIDResponse" message="tns:IPhasorDataService_GetDeviceByDeviceID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOtherDeviceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetOtherDeviceList" message="tns:IPhasorDataService_GetOtherDeviceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetOtherDeviceListResponse" message="tns:IPhasorDataService_GetOtherDeviceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOtherDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/SaveOtherDevice" message="tns:IPhasorDataService_SaveOtherDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/SaveOtherDeviceResponse" message="tns:IPhasorDataService_SaveOtherDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOtherDeviceByDeviceID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetOtherDeviceByDeviceID" message="tns:IPhasorDataService_GetOtherDeviceByDeviceID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetOtherDeviceByDeviceIDResponse" message="tns:IPhasorDataService_GetOtherDeviceByDeviceID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInterconnections">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetInterconnections" message="tns:IPhasorDataService_GetInterconnections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetInterconnectionsResponse" message="tns:IPhasorDataService_GetInterconnections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProtocols">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetProtocols" message="tns:IPhasorDataService_GetProtocols_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetProtocolsResponse" message="tns:IPhasorDataService_GetProtocols_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalculatedMeasurementList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetCalculatedMeasurementList" message="tns:IPhasorDataService_GetCalculatedMeasurementList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetCalculatedMeasurementListResponse" message="tns:IPhasorDataService_GetCalculatedMeasurementList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCalculatedMeasurement">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/SaveCalculatedMeasurement" message="tns:IPhasorDataService_SaveCalculatedMeasurement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/SaveCalculatedMeasurementResponse" message="tns:IPhasorDataService_SaveCalculatedMeasurement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdapterList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetAdapterList" message="tns:IPhasorDataService_GetAdapterList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetAdapterListResponse" message="tns:IPhasorDataService_GetAdapterList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAdapter">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/SaveAdapter" message="tns:IPhasorDataService_SaveAdapter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/SaveAdapterResponse" message="tns:IPhasorDataService_SaveAdapter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIaonTreeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetIaonTreeData" message="tns:IPhasorDataService_GetIaonTreeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetIaonTreeDataResponse" message="tns:IPhasorDataService_GetIaonTreeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeZones">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhasorDataService/GetTimeZones" message="tns:IPhasorDataService_GetTimeZones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhasorDataService/GetTimeZonesResponse" message="tns:IPhasorDataService_GetTimeZones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhasorDataService" type="tns:IPhasorDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNodeList">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetNodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodes">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNode">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/SaveNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyList">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetCompanyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompany">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/SaveCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistorianList">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetHistorianList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHistorian">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/SaveHistorian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistorians">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetHistorians" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorList">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetVendorList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendors">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetVendors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveVendor">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/SaveVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorDeviceList">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetVendorDeviceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveVendorDevice">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/SaveVendorDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorDevices">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetVendorDevices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceList">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetDeviceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevices">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetDevices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDevice">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/SaveDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceByDeviceID">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetDeviceByDeviceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOtherDeviceList">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetOtherDeviceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOtherDevice">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/SaveOtherDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOtherDeviceByDeviceID">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetOtherDeviceByDeviceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInterconnections">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetInterconnections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProtocols">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetProtocols" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalculatedMeasurementList">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetCalculatedMeasurementList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCalculatedMeasurement">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/SaveCalculatedMeasurement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdapterList">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetAdapterList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAdapter">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/SaveAdapter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIaonTreeData">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetIaonTreeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeZones">
      <soap:operation soapAction="http://tempuri.org/IPhasorDataService/GetTimeZones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhasorDataService">
    <wsdl:port name="BasicHttpBinding_IPhasorDataService" binding="tns:BasicHttpBinding_IPhasorDataService">
      <soap:address location="http://localhost:1068/Service/PhasorDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>