Source/Applications/openPDCManager/Silverlight/Service References/PhasorDataServiceProxy/PhasorDataService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" />
  <xs:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/openPDCManager.Data.BusinessObjects" />
  <xs:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="SaveOutputStreamDevicePhasor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="outputStreamDevicePhasor" nillable="true" type="q1:OutputStreamDevicePhasor" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputStreamDevicePhasorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOutputStreamDevicePhasorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamDeviceAnalogList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outputStreamDeviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamDeviceAnalogListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetOutputStreamDeviceAnalogListResult" nillable="true" type="q2:ArrayOfOutputStreamDeviceAnalog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputStreamDeviceAnalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="outputStreamDeviceAnalog" nillable="true" type="q3:OutputStreamDeviceAnalog" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputStreamDeviceAnalogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOutputStreamDeviceAnalogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamDeviceDigitalList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outputStreamDeviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamDeviceDigitalListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetOutputStreamDeviceDigitalListResult" nillable="true" type="q4:ArrayOfOutputStreamDeviceDigital" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputStreamDeviceDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="outputStreamDeviceDigital" nillable="true" type="q5:OutputStreamDeviceDigital" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputStreamDeviceDigitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOutputStreamDeviceDigitalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceMeasurementData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceMeasurementDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/openPDCManager.Data.BusinessObjects" minOccurs="0" name="GetDeviceMeasurementDataResult" nillable="true" type="q6:ArrayOfDeviceMeasurementData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeZones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOptional" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeZonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTimeZonesResult" nillable="true" type="q7:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/openPDCManager.Data.BusinessObjects" minOccurs="0" name="mapType" type="q8:MapType" />
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/openPDCManager.Data.BusinessObjects" minOccurs="0" name="GetMapDataResult" nillable="true" type="q9:ArrayOfMapData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/Message" name="inputStream" type="q10:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/openPDCManager.Data.BusinessObjects" minOccurs="0" name="GetConnectionSettingsResult" nillable="true" type="q11:ConnectionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWizardConfigurationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/Message" name="inputStream" type="q12:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWizardConfigurationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/openPDCManager.Data.BusinessObjects" minOccurs="0" name="GetWizardConfigurationInfoResult" nillable="true" type="q13:ArrayOfWizardDeviceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveConfigurationFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceConnectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="protocolID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveConfigurationFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/openPDCManager.Data.BusinessObjects" minOccurs="0" name="RetrieveConfigurationFrameResult" nillable="true" type="q14:ArrayOfWizardDeviceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWizardConfigurationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/openPDCManager.Data.BusinessObjects" minOccurs="0" name="wizardDeviceInfoList" nillable="true" type="q15:ArrayOfWizardDeviceInfo" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="protocolID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="historianID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="interconnectionID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="parentID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="skipDisableRealTimeData" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWizardConfigurationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveWizardConfigurationInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExecutingAssemblyPath">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExecutingAssemblyPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExecutingAssemblyPathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIniFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/Message" name="input" type="q16:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIniFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveIniFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopBits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopBitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStopBitsResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetParitiesResult" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticMeasurementData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticMeasurementDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/openPDCManager.Data.BusinessObjects" minOccurs="0" name="GetStatisticMeasurementDataResult" nillable="true" type="q19:ArrayOfStatisticMeasurementData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuntimeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceTable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuntimeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRuntimeIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasurementList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasurementListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetMeasurementListResult" nillable="true" type="q20:ArrayOfMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilteredMeasurementsByDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilteredMeasurementsByDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetFilteredMeasurementsByDeviceResult" nillable="true" type="q21:ArrayOfMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="measurement" nillable="true" type="q22:Measurement" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMeasurementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMeasurementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasurementsByDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasurementsByDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetMeasurementsByDeviceResult" nillable="true" type="q23:ArrayOfMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasurementsForOutputStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputStreamID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasurementsForOutputStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetMeasurementsForOutputStreamResult" nillable="true" type="q24:ArrayOfMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherDeviceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherDeviceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetOtherDeviceListResult" nillable="true" type="q25:ArrayOfOtherDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOtherDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="otherDevice" nillable="true" type="q26:OtherDevice" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOtherDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOtherDeviceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherDeviceByDeviceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherDeviceByDeviceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetOtherDeviceByDeviceIDResult" nillable="true" type="q27:OtherDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterconnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOptional" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterconnectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetInterconnectionsResult" nillable="true" type="q28:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProtocols">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOptional" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProtocolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProtocolsResult" nillable="true" type="q29:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProtocolIDByAcronym">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acronym" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProtocolIDByAcronymResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProtocolIDByAcronymResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignalTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOptional" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignalTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSignalTypesResult" nillable="true" type="q30:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculatedMeasurementList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculatedMeasurementListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetCalculatedMeasurementListResult" nillable="true" type="q31:ArrayOfCalculatedMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCalculatedMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="calculatedMeasurement" nillable="true" type="q32:CalculatedMeasurement" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCalculatedMeasurementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCalculatedMeasurementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdapterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enabledOnly" type="xs:boolean" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="adapterType" type="q33:AdapterType" />
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdapterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetAdapterListResult" nillable="true" type="q34:ArrayOfAdapter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdapter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="adapter" nillable="true" type="q35:Adapter" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdapterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdapterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIaonTreeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIaonTreeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/openPDCManager.Data.BusinessObjects" minOccurs="0" name="GetIaonTreeDataResult" nillable="true" type="q36:ArrayOfIaonTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enabledOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetOutputStreamListResult" nillable="true" type="q37:ArrayOfOutputStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="outputStream" nillable="true" type="q38:OutputStream" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOutputStreamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOutputStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outputStreamID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOutputStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOutputStreamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamDeviceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outputStreamID" type="xs:int" />
        <xs:element minOccurs="0" name="enabledOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamDeviceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetOutputStreamDeviceListResult" nillable="true" type="q39:ArrayOfOutputStreamDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputStreamDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="outputStreamDevice" nillable="true" type="q40:OutputStreamDevice" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
        <xs:element minOccurs="0" name="originalAcronym" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputStreamDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOutputStreamDeviceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOutputStreamDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outputStreamID" type="xs:int" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="devicesToBeDeleted" nillable="true" type="q41:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOutputStreamDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOutputStreamDeviceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outputStreamID" type="xs:int" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="devicesToBeAdded" nillable="true" type="q42:ArrayOfKeyValueOfintstring" />
        <xs:element minOccurs="0" name="addDigitals" type="xs:boolean" />
        <xs:element minOccurs="0" name="addAnalogs" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDevicesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamMeasurementList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outputStreamID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamMeasurementListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetOutputStreamMeasurementListResult" nillable="true" type="q43:ArrayOfOutputStreamMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputStreamMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="outputStreamMeasurement" nillable="true" type="q44:OutputStreamMeasurement" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutputStreamMeasurementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOutputStreamMeasurementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOutputStreamMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outputStreamMeasurementID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOutputStreamMeasurementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOutputStreamMeasurementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamDevicePhasorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outputStreamDeviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputStreamDevicePhasorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetOutputStreamDevicePhasorListResult" nillable="true" type="q45:ArrayOfOutputStreamDevicePhasor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enabledOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetNodeListResult" nillable="true" type="q46:ArrayOfNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enabledOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="isOptional" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNodesResult" nillable="true" type="q47:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="node" nillable="true" type="q48:Node" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetNodeByIDResult" nillable="true" type="q49:Node" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetCompanyListResult" nillable="true" type="q50:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOptional" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCompaniesResult" nillable="true" type="q51:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="company" nillable="true" type="q52:Company" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorianList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorianListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetHistorianListResult" nillable="true" type="q53:ArrayOfHistorian" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHistorian">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="historian" nillable="true" type="q54:Historian" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHistorianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveHistorianResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorians">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enabledOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="isOptional" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeSTAT" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoriansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHistoriansResult" nillable="true" type="q55:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetVendorListResult" nillable="true" type="q56:ArrayOfVendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOptional" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetVendorsResult" nillable="true" type="q57:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="vendor" nillable="true" type="q58:Vendor" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveVendorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDeviceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDeviceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetVendorDeviceListResult" nillable="true" type="q59:ArrayOfVendorDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVendorDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="vendorDevice" nillable="true" type="q60:VendorDevice" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVendorDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveVendorDeviceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOptional" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetVendorDevicesResult" nillable="true" type="q61:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetDeviceListResult" nillable="true" type="q62:ArrayOfDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceListByParentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceListByParentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetDeviceListByParentIDResult" nillable="true" type="q63:ArrayOfDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="deviceType" type="q64:DeviceType" />
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isOptional" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDevicesResult" nillable="true" type="q65:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="device" nillable="true" type="q66:Device" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
        <xs:element minOccurs="0" name="digitalCount" type="xs:int" />
        <xs:element minOccurs="0" name="analogCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDeviceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceByDeviceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceByDeviceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetDeviceByDeviceIDResult" nillable="true" type="q67:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceByAcronym">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acronym" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceByAcronymResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetDeviceByAcronymResult" nillable="true" type="q68:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesForOutputStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outputStreamID" type="xs:int" />
        <xs:element minOccurs="0" name="nodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesForOutputStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDevicesForOutputStreamResult" nillable="true" type="q69:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcentratorDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcentratorDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetConcentratorDeviceResult" nillable="true" type="q70:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDeviceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhasorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhasorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="GetPhasorListResult" nillable="true" type="q71:ArrayOfPhasor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhasors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:int" />
        <xs:element minOccurs="0" name="isOptional" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhasorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPhasorsResult" nillable="true" type="q72:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePhasor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/openPDCManager.Data.Entities" minOccurs="0" name="phasor" nillable="true" type="q73:Phasor" />
        <xs:element minOccurs="0" name="isNew" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePhasorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePhasorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>