Source/Applications/openPDCManager/Silverlight/Service References/PhasorDataServiceProxy/PhasorDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.Entities" />
  <xs:complexType name="ArrayOfIaonTree">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IaonTree" nillable="true" type="tns:IaonTree" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIaonTree" nillable="true" type="tns:ArrayOfIaonTree" />
  <xs:complexType name="IaonTree">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.Entities" minOccurs="0" name="AdapterList" nillable="true" type="q1:ArrayOfAdapter" />
      <xs:element minOccurs="0" name="AdapterType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IaonTree" nillable="true" type="tns:IaonTree" />
</xs:schema>