Source/Applications/openPDCManager/Silverlight/Service References/PhasorDataServiceProxy/PhasorDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1068/Service/PhasorDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.Entities" />
  <xs:simpleType name="MapType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="Planning" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MapType" nillable="true" type="tns:MapType" />
  <xs:complexType name="ArrayOfMapData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MapData" nillable="true" type="tns:MapData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMapData" nillable="true" type="tns:ArrayOfMapData" />
  <xs:complexType name="MapData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acronym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyMapAcronym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desired" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InProgress" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Planned" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reporting" type="xs:boolean" />
      <xs:element minOccurs="0" name="VendorDeviceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MapData" nillable="true" type="tns:MapData" />
  <xs:complexType name="ArrayOfIaonTree">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IaonTree" nillable="true" type="tns:IaonTree" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIaonTree" nillable="true" type="tns:ArrayOfIaonTree" />
  <xs:complexType name="IaonTree">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/openPDCManager.Web.Data.Entities" minOccurs="0" name="AdapterList" nillable="true" type="q1:ArrayOfAdapter" />
      <xs:element minOccurs="0" name="AdapterType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IaonTree" nillable="true" type="tns:IaonTree" />
</xs:schema>